body {
  margin: 0;
  padding: 0;
}

.user-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  box-shadow: 0 0 15px grey;
  width: 450px;
  padding: 10px;
  border-radius: 10px;

  display: flex;
  gap: 1rem;
}
.img {
  margin: auto;
}

img {
  border-radius: 50%;
}
